NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/merchantflow
JWT_SECRET=ganti-dengan-random-secret-minimal-32-karakter
MASTER_ENCRYPTION_KEY=ganti-dengan-random-secret-enkripsi-minimal-32-karakter
COOKIE_SECURE=false
BRAND_NAME=MerchantFlow
ALLOW_REGISTRATION=true
